@charset "utf-8";


body header {
  padding: 0;
  margin: 0;
}
header img {
  width: 100%;
  height: 10em;
}
nav ul {
  display: flex;
  border-bottom: 1px solid;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav li {
  flex: 1 1 45%;
  text-align: center;
}
nav a {
  text-decoration: none;
  font-size: 1.2em;
}

h1,
h2,
h3,
h4,
footer {
  text-align: center;
  margin: 0;
}
main {
  min-height: 300px;
  text-align: center;
  padding-top: 0;
}
/*
main button {
  width: 10em;
  margin: 0.3em;
}
*/
main ol {
  width: 60%;
  min-width: 20em;
  margin: auto;
  text-align: left;
}
section {
  box-sizing: border-box;
  border: 1px solid;
  min-height: 300px;
  min-width: 300px;
  width: 50%;
  float: left;
}

p {
  margin-top: 0;
}
footer {
  clear: both;
  border-top: 1px solid;
}
table {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}
table,
th,
td {
  border: 1px solid;
}

/* The 2 classes are for event handling */
.setBackColor {
  background-color: #b9e7e7;
}
.setFont {
  font-family: fantasy;
}


video {
  width: 90%;
  margin: auto;
  height: 280px;;
}
/**
These 2 rules are for animation features
*/
main * {
  position: relative;
  left: 0em;
  transition: opacity 2s, left 2s;
}
.animate {
  opacity: 0.5;
  left: 200px;
}
#map {
  height: 450px;
  width: 600px;
  margin: auto;
}
.myMarker {
  background-color: #4285F4;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
}

.myMarker ::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #4285F4;
}

@media only screen and (max-width: 680px) {
  section {
    width: 90%;
    margin: auto;
    float: none;
  }
}
